$play-button-color: #1ED760;

.album {
    background: rgb(0,0,0);
    background: linear-gradient(360deg, #121212 43%, #E3C450 100%);

    .album-title {
        font-size: 5rem;
    }

    .artist-image {
        height: 25px;
        width: 25px;
        border-radius: 100%;
    }

    .artist-link:hover {
        text-decoration: underline;
        text-underline-offset: 1px;
    }

    .play-container,
    .heart-container,
    .download-container {
        background-color: transparent;
        border: none;
    }

    .play-container {
        color: $play-button-color;
    }

    .heart-container {
        color: $left-menu-color-item;

        &:hover {
            color: white;
        }
    }

    .download-container {
        color: $left-menu-color-item;

        &:hover {
            color: white;
        }
    }

}
