@import 'functions';
@import 'variables';
@import 'artist-main';
@import 'album-main';
@import 'search-page';
@import '../node_modules/bootstrap/scss/bootstrap';
/*
@import 'bottom-bar';
@import 'homepage-main';
@import 'bottom-bar';
@import 'left';
@import 'right';
@import 'upper-bar';
*/

$bottom-bar-height: 70px;
$menu-item-font-size: 0.8rem;
$icon-size: 1.4rem;
$left-menu-color-item: #B3B3B3;
$main-playlist-card-background: #2C2C2C;

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: transparent; 
}
   
::-webkit-scrollbar-thumb {
    background: #88888891; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    margin: 0;
}

a {

    text-decoration: none;
    color: $left-menu-color-item;
    transition: color .35s;

    &:hover {

        color: lighten($color: $left-menu-color-item, $amount: 15%);
    }
}

* {
    box-sizing: border-box;
}

.homepage-container {
    width: 100vw;
    height: 100vh;

    .homepage-content {

        height: calc(100vh - 100px);
        overflow-y: auto;

    }

    .wrapper {
        display: flex;
        align-items: stretch;
        height: calc(100vh - $bottom-bar-height);
    }

    .left {
        flex-basis: 20%;
        border: 1px solid $black;
        background-color: black;
        padding: 20px;

        .menu-item {

            color: #B3B3B3;

        }

        .icon {

            font-size: $icon-size;

        }

        .left-menu-text {

            font-size: $menu-item-font-size;

        }

        .icon-width {

            width: 20px;

        }

        .playlist-list {

            height: calc(100vh - 251.22px - 20px - 24px - 70px);
            border-top: 1px solid #383838;
            overflow-y: auto;

        }

    }

    .center {
        flex-basis: 65%;
        border: 1px solid $black;
        background: rgb(33, 33, 33);
        background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(18, 18, 18, 1) 100%);


        .arrow-icon {

            background-color: rgba(0, 0, 0, 0.276);
            border-radius: 100%;
            width: 20px;
            height: 20px;
            color: #979797;
            border: none;
            transition: background-color .4s;

            &:hover {

                background-color: lighten($color: #000000, $amount: 15%);
            }

        }

        .m-fix-left {

            margin-left: -3px;

        }

        .m-fix-right {

            margin-right: -3px;

        }

        .btn-dropdown {

            border-radius: 50px;
            border: none;
            background-color: #0A0A0A;
            color: white;
            font-size: 0.9rem;
            height: 20px;


        }

        .img-btn {

            height: 98%;

            img {

                height: 100%;
                border-radius: 100%;
                margin-bottom: 7px;
                margin-left: -4px;


            }
        }

        .name-in-btn {

            font-size: 0.575rem;
            font-weight: bold;

        }



        .btn-top {

            transition: background-color .4s;

            &:hover {

                background-color: lighten($color: #000000, $amount: 15%);
            }

        }

        .suggested-album{

            background: rgb(0,0,0);
            background: linear-gradient(20deg, rgba(0, 0, 0, 0.916) 15%, rgba(21, 21, 21, 0.076) 60%);

        }

        .playlist-card-container {
            
            border-radius:5px;

            img {
                width: 100%;
                height: 80px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            flex-basis: calc(100% / 3 - 1rem)
        }

        .playlist-card-bg {
            background-color: $main-playlist-card-background;
        }

        .suggested-playlists {
            
            .show-all {
                color: $left-menu-color-item;
                font-size: 0.8rem;
            }
            
            .suggested-card {
                width: 170px;
                flex-basis:calc(100% / 5 - 1rem);
            }

            .custom-img-card {
                border-radius: 20px;
            }
        }

        .image-suggested-album-container{

            height: 210px;
            width: 200px;

        }

        .album-title{

            font-size: 3.2rem;

        }

        .album-text{

            font-size: 0.8rem;

        }

        .artists-text{

            font-size: 0.7rem;

        }

        .rounded-btn{

            font-size: 0.7rem;
            font-weight: bold;
            color: $white;
            padding: 10px 25px;
            border-radius: 30px;
            background-color: transparent;
            border: 1px solid rgba($white, .2);

        }

        .play-btn{

            border: 1px solid black;
            background-color: #1CD760;
            color: black;

        }

    }

    .right {
        flex-basis: 15%;
        border: 1px solid $black;
        background-color: black;
        padding: 20px;

        .friends-activities-text {

            font-size: 0.9rem;

        }

        .img-friend-container {

            width: 40px;

        }

        .img-friend {

            border-radius: 100%;

        }

        .friend-card {

            color: $left-menu-color-item;

        }

        .friend-card-name {

            font-size: 0.8rem;
            font-weight: bold;

        }

        .friend-card-activity-info {

            font-size: 0.6rem;

        }

        .disc-icon {

            font-size: 0.8rem;

        }

    }

    .bottom-bar {
        height: $bottom-bar-height;
        background-color: #181818;
        border-top: 1px solid rgba($left-menu-color-item, .2);
        z-index: 1;

        .bottom-img-container {

            margin: 0 15px;
            width: 47px;
            height: 47px;

        }

        .song-title {
            font-size: .9rem;
            color: $white;
            margin-bottom: 2px;
        }

        .song-artist {
            font-size: .7rem;
            color: $left-menu-color-item;
        }

        .heart-icon {
            font-size: .8rem;
            color: $left-menu-color-item;
            cursor: pointer;

            i {
                transition: color .4s;

                &:hover {
                    color: $white;
                }
            }

        }

        .play-bar-container {
            .player-bar-btn {
                font-size: .85rem;
                color: $left-menu-color-item;
            }

            .play-btn {
                color: $white;
                font-size: 1.75rem;
            }

            flex-basis: 50%;

            .progression-bar {
                height: 4px;
                background-color: rgba($white, .45);
                border-radius: 15px;
                width: 100%;
            }

            .progressed {
                border-radius: 15px;
                height: 100%;
                width: 23%;
                background-color: $white;
            }

            .fs-xs {
                font-size: .65rem;
                color: $left-menu-color-item;
            }
        }

        .volume-bar {
            height: 4px;
            background-color: rgba($white, .45);
            border-radius: 15px;
            width: 100px;
        }

        .level {
            border-radius: 15px;
            height: 100%;
            width: 23%;
            background-color: $white;
        }

        .icon-bottom-right{

            color: $left-menu-color-item;

        }
    }

    /* ALBUM PAGE */
    
    @import 'album-main';
    
}

@import 'artist-main';
